<div class="normal-content">
  <h3>yak-yak-yak, A social progressive web app.</h3>
  <!--
  <p>
    This is a small demo about Angular2, Firebase and Material design. Main purpose of this demo application is to
    show how powerful these components are together.
  </p>

  <div appLayout="row">
    <div>
      <h4>Used libraries</h4>

      <app-about-list
        [className]="'used-libraries'"
        [items]="libraries"
      ></app-about-list>
    </div>

    <div>
      <h4>External links</h4>

      <app-about-list
        [className]="'external-links'"
        [items]="externalLinks"
      ></app-about-list>
    </div>
  </div>
  -->
</div>
