<div class="container">
  <div class="login">
    <div class="text">
      Please choose a login provider
        <md-card>
          <button md-raised-button color="primary" (click)="login('Google')">
            <img width="30" src="/assets/google-logo.png" />Google
          </button>
        </md-card>
        <md-card>
          <button md-raised-button color="primary" (click)="login('Facebook')">
            <img width="30" src="/assets/facebook-logo.png" />Facebook
          </button>
        </md-card>
        <md-card>
          <button md-raised-button color="primary" (click)="login('Twitter')">
            <img width="30" src="/assets/twitter-logo.png" />Twitter
          </button>
        </md-card>
        <md-card>
          <button md-raised-button color="primary" (click)="login('Github')">
            <img width="30" src="/assets/github-logo.png" />Github
          </button>
        </md-card>
    </div>
  </div>
</div>